.btn-123 {
    background-color: var(--color4);
    color: var(--color1);
    border-radius: .5rem;
    width: 4rem;
    padding: .5rem;
}


.text-outline-123 {
  color: rgb(255, 255, 255);
  text-shadow:
    -2px -2px 0 #000,
     1px -2px 0 #000,
    -2px  2px 0 #000,
     1px  1px 0 #000;
  
}