/* ################################  slide product ################################# */

.slide-product {
	position: relative;
	height: 15rem;
	background-size: cover;
	background-position: top;
}

#img1 {
	background-image: url(/demo1.jpg);
}

#img2 {
	background-image: url(/demo2.jpg);
}

#img3 {
	background-image: url(/demo3.jpg);
}


:root {
	--color4: blue;
}

